<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container">
 <div class="row">

<div class="col-xs-3">
</div>

  <div class="col-xs-6">

<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Booker !!</h1>
<h3>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</h3>
<h3>you can share and exchange your opinions , inpressions , and emotions about various books!</h3>

<div class="btn-group-vertical" style="list-style: none">
 <ul>
  <li class="btn btn-default"><%= link_to "Log in", new_user_session_path %></li>
  <li class="btn btn-default"><%= link_to "Sign Up",new_user_registration_path %></li>
 </ul>
</div>

</div>

<div class="col-xs-3">
</div>
</div>
</div>
